body {
    color: #ffffff;
    background: #1c2541;
    font-family:'Courier New', Courier, monospace;
    font-size: 0.975em;
};

#CommandBar {
    color: #0b132b;
};

/* Color Palette:
#0B132B
#1C2541
#3A506B
#5BC0BE
#FFFFFF
*/